<h1>About us</h1>

<div class="span-left">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce euismod, lectus nec accumsan laoreet, est ligula mollis magna, sed aliquam sapien felis nec libero. Duis tincidunt ipsum nibh, quis consequat magna lobortis in. Sed dignissim nulla urna, eu placerat nunc fermentum ac. Donec ac cursus quam. Nam ultricies mi ac scelerisque sollicitudin. Integer consectetur risus nec nibh tincidunt posuere a eu nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc vitae metus vel odio posuere placerat at consequat erat. In eu erat sed dolor laoreet tincidunt vel at nisi.</p>

<p>Mauris sodales lacus ac quam viverra, vel consectetur velit facilisis. In sit amet orci gravida, vestibulum ipsum et, ultricies neque. Morbi tempor dignissim arcu cursus placerat. Suspendisse lacinia sem quis faucibus viverra. Sed dignissim orci sit amet odio sollicitudin porta. Curabitur scelerisque justo id nisi interdum volutpat. Phasellus dapibus aliquet auctor. Aenean sit amet aliquam neque, non eleifend diam. Vestibulum lorem dolor, vestibulum ut ante eu, vehicula vestibulum mauris. Proin ut erat est. Quisque nulla neque, lobortis vel malesuada eget, vestibulum in tortor.</p>
<h3 style="color:<%= @color %>">Forbidden Words</h3>
<% @words.each do |word| %>
	<% if word == 'Stuff' %>
		Yay: <%= word %>
	<% else %>
		Word: <%= word %><br />
	<% end %>
<% end %>
<br />
<br />
<%= @my_name %>
<br />
<% @my_name %>
</div>

<div class="span-right">
<%= image_tag "atl.jpg", :alt => 'Atlanta' %>
</div>

